body{
background-color:#333;
color: white;
}
#hello{
color:#00ff99;
}
#welcome{
color:#006600;
}
#nci{
color:#ff9933;
}
#text1{
color:#00b300;
}
ul>li{
color:yellow;
}
#text2{
color:green;
}
ol{
color:orange;
}
#cont{
display:flex;
width:20%;
flex-direction:row;
justify-content:space-between;
}
